group.id=ssl-host
ssl.truststore.location=/etc/kafka/secrets/kafka.consumer.truststore.jks
ssl.truststore.password=my-test-password

ssl.keystore.location=/etc/kafka/secrets/kafka.consumer.keystore.jks
ssl.keystore.password=my-test-password

ssl.key.password=my-test-password
ssl.endpoint.identification.algorithm=

security.protocol=SSL
