ssl.truststore.location=/etc/kafka/secrets/kafka.producer.truststore.jks
ssl.truststore.password=my-test-password

ssl.endpoint.identification.algorithm=

security.protocol=SASL_SSL
sasl.mechanism=PLAIN

sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
username=\"client\" \
password=\"client-secret\";
